<h1>
  <app-hello-world></app-hello-world>
  
  <form class="ui large form segment">
    <h3 class="ui header">Add a Link</h3>
    
    <div class="field">
      <label for="title">Title:</label>
      <input name="title" id="title" #newtitle title=""> <!-- variable -->
    </div>
    <div class="field">
      <label for="link">Link:</label>
      <input name="link" id="link" #newlink> <!-- variable -->
    </div>

    <button (click)="addArticle(newtitle, newlink)" 
    class="ui positive right floated button"
    [disabled]="allowButton">
    Submit this
  </button>
</form>
<app-article 
  *ngFor="let article of sortedArticles()"
  [article]="article">
</app-article>

</h1>