<div class="ui raised segment">
  <h2 class="ui header">Demo Form</h2>
  <form class="ui form" (ngSubmit)="onSubmitOne(foo)" #foo="ngForm">
    <div class="field">
      <label for="anyInput">Any</label>
      <input
        type="text"
        id="anyInput"
        placeholder="ANY"
        name="aNy"
        ngModel
        required
        #any="ngModel"
      />
    </div>
    <button type="submit" class="ui button" [disabled]="!any.valid">
      Submit
    </button>
  </form>
</div>

<div class="ui raised segment">
  <form class="ui form" (ngSubmit)="onSubmitTwo()" #bar="ngForm">
    <div ngModelGroup="secondForm" #secondForm="ngModelGroup">
      <div class="field">
        <label>First Name</label>
        <input
          type="text"
          name="first-name"
          placeholder="First Name"
          ngModel
          required
        />
      </div>
      <div class="field">
        <label>Last Name</label>
        <input type="text" name="last-name" placeholder="Last Name" ngModel />
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden" />
          <label>I agree to the Terms and Conditions</label>
        </div>
      </div>
      <button class="ui button" type="submit" [disabled]="!secondForm.valid">
        Submit
      </button>
    </div>
  </form>
</div>

<div class="ui inverted segment">
  <div class="ui inverted form">
    <div class="two fields">
      <div class="field">
        <label>First Name</label>
        <input placeholder="First Name" type="text" />
      </div>
      <div class="field">
        <label>Last Name</label>
        <input placeholder="Last Name" type="text" />
      </div>
    </div>
    <div class="inline field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden" />
        <label>I agree to the terms and conditions</label>
      </div>
    </div>
    <div class="ui submit button">Submit</div>
  </div>
</div>

<div class="ui form">
  <div class="inline field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden" />
      <label>Checkbox</label>
    </div>
  </div>
  <div class="inline field">
    <div class="ui slider checkbox">
      <input type="checkbox" tabindex="0" class="hidden" />
      <label>Slider</label>
    </div>
    <label></label>
  </div>
  <div class="inline field">
    <div class="ui toggle checkbox">
      <input type="checkbox" tabindex="0" class="hidden" />
      <label>Toggle</label>
    </div>
  </div>
</div>
