<app-demo-form></app-demo-form>
<br>

<app-group-form></app-group-form>
<br>

<app-string-reverse-form></app-string-reverse-form>
<br>

<app-max-char-form></app-max-char-form>

<div class="ui raised segment">
  <h2 class="ui header">Train</h2>
  <form class="ui form">
    <div class="field">
      <label>First Name</label>
      <input type="text" name="first-name" placeholder="First Name" />
    </div>
    <div class="field">
      <label>Last Name</label>
      <input type="text" name="last-name" placeholder="Last Name" />
    </div>
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0"  />
        <label>I agree to the Terms and Conditions</label>
      </div>
    </div>
    <button class="ui button" type="submit">Submit</button>

    <div class="ui form">

      <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0"  />
          <label>Checkbox</label>
        </div>
      </div>
      <div class="inline field">
        <div class="ui slider checkbox">
          <input type="checkbox" tabindex="0"  />
          <label>Slider</label>
        </div>
        <label></label>
      </div>
      <div class="inline field">
        <div class="ui toggle checkbox">
          <input type="checkbox" tabindex="0"  />
          <label>Toggle</label>
        </div>
      </div>
    </div>

    <br />

    <div class="grouped fields">
      <label for="met">Select your second favorite met:</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="met" checked="" tabindex="0"  />
          <label>Apples</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="met" tabindex="0"  />
          <label>Oranges</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="met" tabindex="0"  />
          <label>Pears</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="met" tabindex="0"  />
          <label>Grapemet</label>
        </div>
      </div>
    </div>
  </form>
</div>
